html {
  box-sizing: border-box;
}

label {
  font-size: 20px;
}
.input-contacto {
  width: 100%;
  padding: 12px 15px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 15px;
}

.input-box {
  padding-top: 24px;
}

.contenedor {
  background-color: #f2f2f2;
  border: 3px solid #646464;
  padding: 25px;
  margin: 16px;
}

div button[type='submit'] {
  width: 50%;
  background-color: #4e77c4;
  border: 3px solid #646464;
  color: white;
  padding: 14px 20px;
  border-radius: 4px;
  cursor: pointer;
}

button[type='submit']:hover {
  background-color: #385fa7;
}

#costo_seguro_mensaje {
  font-size: 20px;
}
